:root {
    --theme-color: #009688; /* Teal padrão */
}

.text-theme { color: var(--theme-color); }
.bg-theme { background-color: var(--theme-color); }
.border-theme { border-color: var(--theme-color); }

/* Animação de entrada */
#char-content, #dashboard {
    animation: fadeIn 0.4s ease-out forwards;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Custom Scrollbar */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #0f172a; }
::-webkit-scrollbar-thumb { background: #334155; border-radius: 10px; }